.app-header {
    flex-grow: 1;
    color: white;
}


.app-header__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userSpace {
    display: flex;
    flex-direction: row;
}

.avatar {
    margin-right: 10px;
}

.app-header__title {
    flex-grow: 1;
    cursor: pointer;
    color: white;
}

.app-header__title--link {
    color: white;
    text-decoration: none;
}

.app-header__login {
    color: white;
}


