doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1019504245714-1ulai63gf928pnbslef9ikrddtfqu330.apps.googleusercontent.com">
  body
    block content
    
