.board-component {
    width: 100%;
    flex-grow: 1;
}


.borad-component-wrapper{
    width: 100%;
}

.board-header-component{
    padding: 10px;
    //color: #fff;
    background: #eaeff1;
}
.board-header-wrapper{
    display: flex;
    height: 50px;
    flex-direction: row;
    text-align: left;

}
.board-header-text {
    flex-grow: 1;
}
.board-pulse-component{
    padding: 10px;
    width: 98.5%;
}