.board-component {
    width: 100%;
    flex-grow: 1;
}


.borad-component-wrapper {
    width: 100%;
}

.board-header-component {
    padding: 10px;
    background: #eaeff1;
    height: 80px;
}

.board-header-wrapper {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.board-header-text {
    flex-grow: 1;
}

.board-pulse-component {
    padding: 10px;
    width: 98.5%;
}