.board-list-component {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.board-list-wrapper {
  width: 25%;
  box-shadow: 0 -1px 0 #e0e0e0 inset;
  // padding-top: 16px;
  // padding-bottom: 16px;
 // background-color: #232f3e;
 border-right: 1px solid #e0e0e0;
}
.board-action {
  display: flex;
  flex-direction: row;
  color: rgb(139, 136, 136);
}

.board-action :hover {
  opacity: 1;
  color: rgb(0, 0, 0);
}

.edit-pen:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
}

.board-list-item{
  border-bottom: 1px solid #e0e0e0;
}


.board-list-item-text {
  color: white;
}

.main-board {
  // pointer-events: none;
  pointer-events: all;
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1;
  opacity: 0.5;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 4.5rem solid rgb(188, 226, 157);
  border-color: rgb(190, 226, 123) transparent rgb(199, 224, 152) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


