.progress-header-component{
    display: flex;
}
.progress-header-wrapper{
    height: 40px;
    border-bottom: bisque solid 2px;
    flex-grow: 1;
    display: flex;
}
.column-header {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
    flex-grow: 1;
    background-color: #f0f0f0;
    padding-left: 5px;
    border-left: 1px solid #009688;
    width: 50px;
    font-weight: bold;
}
.column-header-default {
    width: 100px !important;
}
.column-header-add{
    border-right: 8px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    background-color: #f0f0f0;
}